<section class="cart-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>
  <article class="product-detail">
  <div class="order-summary jumbotron">
  <div class="panel panel-default items">
    <table class="table table-bordered">
    <h3>Thank you for your order!</h3>
    <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
        </tr>
      </thead>
    <tbody>
    
    <% @order.line_items.each do |item| %>
     <th> <%= image_tag item.product.image.url, class: 'main-img'%></th>
     <th> <%= item.product.name %>
      <p><%= item.product.description %></p></th>
      <th><%= humanized_money_with_symbol item.total_price_cents / 100.0 %></th>
  <% end %>
  <tfoot>
  <tr>
  <th colspan="4">
  TOTAL:
  </th>
  <h4><%= @order.email %></h4>
  <th>
    <%= humanized_money_with_symbol @order.total_cents / 100.0 %>
   </th>
   </tr>
   </tfoot>
    </table>
 </div>
 </tbody>
  </div>
  </article>



  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
